<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
  
  
   -->
  <targets async="false">
    <target xsi:type="File" name="f" fileName="${basedir}/log.txt"
            layout="${message}"  />
    
    <target  xsi:type="Console" name="c" layout="${longdate} ${uppercase:${level}} ${message}" />

  </targets>

  <rules>
    <logger name="AndreiIgnat" minlevel="Info" maxlevel="Error" writeTo="f,c" />    
  </rules>
</nlog>