@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chart Example</h1>
    <p class="lead">Json 2 Charp example.</p>
    <p><a href="http://msprogrammer.serviciipeweb.ro/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <p>
        <div class="col-md-4">
            <h2>The chart</h2>
<p>
            <div class="chart"><div class="ct-chart ct-golden-section"></div>
    </div>
    
    
        </p>
</div>
    <div class="col-md-4">
        <h2>The code</h2>
        <p>CHartist is a framework for charts .</p>
        <p><a class="btn btn-default" href="http://gionkunz.github.io/chartist-js/getting-started.html">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>More details</h2>
        <p>YouTube Tutorial.</p>
        <p><a class="btn btn-default" href="https://youtu.be/f0RwZdYSue0">Learn more &raquo;</a>
        </p>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            //new Chartist.Line('.ct-chart', {
            //    labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
            //    series: [
            //        [12, 9, 7, 8, 5],
            //        [2, 1, 3.5, 7, 3],
            //        [1, 3, 4, 5, 6]
            //    ]
            //}, {
            //    fullWidth: true,
            //    chartPadding: {
            //        right: 40
            //    }
            //});



            $.ajax({
                type:"GET",
                url:'@Url.Content("~/api/MyChart/")'  ,
                //data: .... ,
                datatype:"JSON",
                contentType:"application/json; charset=utf-8",
                success: function (returndata) {
                    window.alert('ok');
                    new Chartist.Line('.ct-chart',
                        returndata, {
                        fullWidth: true,
                        chartPadding: {
                            right: 40
                        }
                    });
 
                }
            }
        );
        });


    </script>
}