<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"  />

    <target  xsi:type="Console" name="c" layout="${longdate} ${uppercase:${level}} ${message}"  />

    <target  xsi:type="Mail" name="m" body="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" to="ignatandrei@ea.com" from="ignatandrei@ea.com" smtpServer="localhost"   subject="Error on read file application" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="f,m" />
    <logger name="*" minlevel="Trace" writeTo="c" />

  </rules>
</nlog>